html {
  background-color: rgb(166, 178, 233);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-left: 10%;
  padding-right: 10%;
}

#mainContainer {
    background-color: aliceblue;
    text-align: center !important;
    padding-bottom: 30px;
}

#aboutInfoContainer {
    background-color: aquamarine;
    width: fit-content;
    height: fit-content;
    text-align: center !important;
    margin-left: 20%;
    padding: 10px;
    border-radius: 10px;
}

.companyText {
    font-style: italic;
}

#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navTab {
    float: left;
    display: block;
    padding: 8px;
    background-color: #333;
}

.navLink {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navTab:hover {
    background-color: #111;
}