html {
  background-color: aliceblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
overflow: hidden;
}

#mainContainer {
    background-color: aliceblue;
    text-align: center !important;
    padding-bottom: 30px;
}

@media only screen and (max-width: 500px) {
    #header {
        padding-top: 51px;
        padding-bottom: 51px;
        font-size: 25px !important;
    }

    #aboutInfoContainer {
        background-color: salmon;
        margin-top: 75px !important;
    }

    .footerElement {
        width: 50px;
        height: 50px;
    }

    #content {
        margin: 20px;
    }
}

@media only screen and (min-width: 1000px) {
    #header {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 50px !important;
    }

    #aboutInfoContainer {
        background-color: aquamarine;
        margin-top: 150px;
    }

    .footerElement {
        width: 75px;
        height: 75px;
    }

    #content {
        margin: 100px;
    }
}

#aboutInfoContainer {
    width: fit-content;
    height: fit-content;
    text-align: center !important;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

.companyText {
    font-style: italic;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: fit-content;
    padding: 10px 16px;
    background: #333;
    color: #f1f1f1;
    text-align: center;
    left: 0;
    
}

#footer {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: fit-content;
    padding: 10px 16px;
    color: #f1f1f1;
    text-align: center;
    left: 0;
    font-size: 42px;
    display: flex;
    justify-content: space-around;
}

.footerElement {
    transition: transform .2s;
}

.footerElement:hover {
    transform: scale(1.3);
}

p {
    text-align: justify;
}